
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>

<div class="jumbotron">
    This is Rough!
</div>

<p>
    A lot of hard work was tried to be done. Identity was used to create the underlying employees and roles. 
</p>

